/* add task
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
   text-align: center;
   color: #a8a8a8;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
  input {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  }
  
  #input-submit {
     color: white; 
     background: #90b4ce;
     cursor: pointer;
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: center;
  width: 100%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* tasks */
table {
	border-radius: 15px;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,.05);
	border-collapse: collapse;
	font-family: 'Poppins', sans-serif;
	font-size: .85rem;
	overflow: hidden;
	min-width: 600px;
}
#keywords th {
	padding: 10px 15px;
	text-align: left;
	background: rgb(244,247,248);
	color: rgba(0,0,0,.6);
	font-weight: 500;
}
#keywords td {
	padding: 12px 20px;
}
#keywords tr {
	cursor: pointer;
	transition: all .25s ease;
	color: rgba(0,0,0,.6);
}
#keywords tbody tr:hover {
	background: rgb(178, 194, 235);
	color: r
}
#wrapper {
   display: block;
   width: 850px;
   margin: 0 auto;
   padding: 10px 17px;
 }
 h1 { 
   font-family: sans-serif;
   font-weight: bold;
   font-size: 3.6em;
   line-height: 1.7em;
   margin-bottom: 10px;
   text-align: center;
 }
 .h11 {
    padding-right: 250px;
 }